@import "tailwindcss";

#root {
  margin: 0 auto;
  padding: 2rem;
  height: 100vh
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
}
